a {
 color: white;
 text-decoration: none;
 font-family: sans-serif;
}

.navigationBar {
  position:fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  margin: 0;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  background-color: #4ABDAC;
  list-style: none;
}

.navigationBar a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  transition: background 0.15s linear;
}

.navigationBar a:hover {
  background: #249786;
}

.active {
  background: #249786;
}
