body {
  background-color: #B20109;
  font-family: sans-serif;
  color:white;
}

a {
 color: white;
 text-decoration: none;
 font-family: sans-serif;
}

.navigationBar {
  align-items: center;
  display: flex;
  position: absolute;
  left: 70vw;
  top: 0;
  width: 25vw;
  list-style: none;
  background-color: #B20109;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.navigationBar li a {
  text-decoration: none;
  text-align: center;
  display: block;
  width: 6.65vw;
  padding: 1em;
  color: white;
}

.navigationBar li {
  transition: background 0.15s linear;
}

.navigationBar li:hover {
  background: #990000;
}

.active {
  background: #990000;
}

.navigationSpacer {
  padding-bottom: 0px;
}

.navigationSpacer img {
  max-height: 35px;
  padding-bottom: 5px;

}

@media screen and (min-width: 720px) {
  .quotes {
    position: relative;
    left:63vw;
    max-width: 35%;
  }

  .homeImg {
    padding-top: 25px;
    position: absolute;
    left: 0%;
    width: 60.75vw;
  }

  .navigationBar {
    align-items: center;
    display: flex;
    position: absolute;
    left: 62.5vw;
    top: 0;
    width: 35vw;
    list-style: none;
    background-color: #B20109;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
}

.quotes img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 85%;
}

.quotes ul {
  padding-right: 40px;
}

.quotes li{
  font-size: 1em;
  padding-bottom: 1.6vh;
  list-style: none;
}

.credits {
  padding-top: 15px;
  float:right;
}

.homeImg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}
