<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About | Trump</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/assignment1.css"/>
</head>

<body>
  <div class="navigationSpacer">
    <img src="/images/aboutlogo.png">
      <nav>
        <ul class="navigationBar">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/about">About</a></li>
          <li><a href="/media">Media</a></li>
          <li><a href="/twitter">Twitter</a></li>
        </ul>
      </nav>
    </div>

<div class="homeImg">
  <img src="/images/donaldbaldwin.jpg">
</div>

    <div class="factsTable sideBar">
      <table>
        <tr>
          <th colspan="2">45th President of the United States</th>
        </tr>
        <tr>
          <td>Assumed office</td>
          <td>January 20, 2017</td>
        </tr>
        <tr>
          <td>Vice President</td>
          <td>Mike Pence</td>
        </tr>
        <tr>
          <td>Preceded by</td>
          <td>Barack Obama</td>
        </tr>
        <tr>
          <th colspan="2">Personal Details</th>
        </tr>
        <tr>
          <td>Name</td>
          <td>Donald John Trump</td>
        </tr>
        <tr>
          <td>Born on</td>
          <td>June 14, 1946 (age 70)</td>
        </tr>
        <tr>
          <td>Born in</td>
          <td>New York City</td>
        </tr>
        <tr>
          <td>Political Party</td>
          <td>Republican</td>
        </tr>
        <tr>
          <td rowspan="3">Spouse(s)</td>
          <td>Ivana Zelníčková</td>
        </tr>
        <tr>
          <td>Marla Maples</td>
        </tr>
        <tr>
          <td>Melania Knauss</td>
        </tr>
        <tr>
          <td rowspan="5">Children</td>
          <td>Donald Jr.</td>
        </tr>
        <tr>
          <td>Ivanka</td>
        </tr>
        <tr>
          <td>Eric</td>
        </tr>
        <tr>
          <td>Tiffany</td>
        </tr>
        <tr>
          <td>Barron</td>
        </tr>
        <tr>
          <td rowspan="2">Education</td>
          <td>Fordham University</td>
        </tr>
        <tr>
          <td>University of Pennsylvania (BS)</td>
        </tr>
        <tr>
          <td rowspan="2">Occupation</td>
          <td>Real Estate Developer</td>
        </tr>
        <tr>
          <td>Television producer</td>
        </tr>
        <tr>
          <td>Net Worth</td>
          <td>$4.5 Billion</td>
        </tr>
          <caption>Source: Wikipedia</caption>
      </table>
    </div>
</body>
</html>
