<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/assignment1.css"/>
</head>

<body>
  <div class="navigationSpacer">
      <nav>
        <ul class="navigationBar">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/about">About</a></li>
          <li><a href="/media">Media</a></li>
          <li><a href="/twitter">Twitter</a></li>
        </ul>
      </nav>
    </div>
</body>
</html>
