<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/assignment1.css"/>
</head>

<body>
  <div class="navigationSpacer">
    <nav>
      <ul class="navigationBar">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/sample">About</a></li>
        <li><a href="/face">Contact</a></li>
        <li><a href="#">Test</a></li>
      </ul>
    </nav>
  </div>
</body>

<div>
  <img class="homeImg" src="/images/banner2.jpg">
</div>


</html>
