<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/assignment1.css"/>
</head>

<body>
  <div class="navigationSpacer">
    <img src="/images/logo.png">
      <nav>
        <ul class="navigationBar">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/media">Media</a></li>
          <li><a href="/twitter">Twitter</a></li>
        </ul>
      </nav>
    </div>

    <div class="homeImg">
      <img src="/images/trump1.jpg">
    </div>

    <div class="sideBar">
      <div>
        <img src="/images/banner.JPG">
      </div>
      <ul>
        <li>"All of the women on The Apprentice flirted with me - consciously or unconsciously. That's to be expected."</li>
        <li>"What separates the winners from the losers is how a person reacts to each new twist of fate."</li>
        <li>"Sometimes your best investments are the ones you don't make."</i></li>
        <li>"In the end, you're measured not by how much you undertake but by what you finally accomplish."</li>
        <li>"You have to think anyway, so why not think big?"</i></li>
        <li>"If you're interested in 'balancing' work and pleasure, stop trying to balance them. Instead make your work more pleasurable."</li>
        <li>"Everything in life is luck."</li>
        <li>"As long as your going to be thinking anyway, think big."</li>
        <li>"I try to learn from the past, but I plan for the future by focusing exclusively on the present. That's were the fun is."</li>
        <li>"Anyone who thinks my story is anywhere near over is sadly mistaken."</li>
        <li class="credits"><i>-Donald John Trump</li>
      </ul>
    </div>
</body>
</html>
