<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/assignment1.css"/>
</head>

<div class="navigationSpacer">
  <img src="/images/playlogo.png">
    <nav>
      <ul class="navigationBar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="active"><a href="/media">Media</a></li>
        <li><a href="/twitter">Twitter</a></li>
      </ul>
    </nav>
  </div>

  <div>

  </div>
</body>
</html>
