<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Media | Trump</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/assignment1.css"/>
</head>

<div class="navigationSpacer">
  <img src="/images/playlogo.png">
    <nav>
      <ul class="navigationBar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="active"><a href="/media">Media</a></li>
        <li><a href="/twitter">Twitter</a></li>
      </ul>
    </nav>
  </div>

  <div>
    <iframe width="720" height="480" src="https://www.youtube.com/embed/3_y2jVPmPBw" frameborder="0" allowfullscreen></iframe>
  </div>

  <div>
    <iframe width="720" height="480" src="https://www.youtube.com/embed/YcGPSnswzjc" frameborder="0" allowfullscreen></iframe>
  </div>

  <div>
    <iframe width="720" height="480" src="https://www.youtube.com/embed/EEA33bAXyNM" frameborder="0" allowfullscreen></iframe>
  </div>

</body>
</html>
